{% extends 'base.html' %}
{% block content%}

<div class="container">
<div class="four columns alpha">
<h1>Who We Are</h1>

<p>CMU Speech and Debate is an organization by students and for students focused on helping you perfect your public speaking skills. Our core belief is that anyone and everyone can become a good public speaker.</p>

<p>Our nationally ranked debaters critique and refine your speaking skills to make sure that you have the skills necessary to become an effective public speaker. During our bimonthly workshops, we practice impromptu speaking, prepared speeches, a variety of debates, and more. You have the freedom to focus on whichever area interests you most, and be given constant feedback on how to improve and refine your abilities. In time, we invite you to join us as we compete at the national level against other colleges across the country.</p>
</div>
<div class="four columns omega">
<h1>Our Vision</h1>

<p>In order to attain a leadership role in any line of work is to be able to convey and express your ideas effectively. One must be strong spoken and composed while speaking in front of others, with the ability to articulate your ideas to appeal to your audience - even to those who disagree with you.</p>

<p>CMU Speech will help you to achieve that.</p>

<p>We believe in direct and honest feedback; during our coaching sessions and workshops, you will have numerous chances to practice speaking and to receive constructive criticism. Our workshop exercises will focus on improving upon the basic skills necessary to become an excellent public speaker.</p>
</div>
<div class="four columns omega">
<h1>Who Should Join</h1>

<p>You do not need to have any experience to join CMU Speech and Debate. We believe that anyone can be a good public speaker: all it takes is time and practice. If you have any interest in refining your speaking skills or competing in regional competitions, we invite you to one of our workshops and see how CMU Speech and Debate can help you.</p>
</div>
</div>
{% endblock%}