{% extends "base.html" %}

{% block content %}

<!-- SLIDER -->
<div id="outerslider">
    <div class="container">
        <div id="slidercontainer" class="twelve columns">
    
            <section id="slider">
            <div id="slideritems" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/slide1.png" alt="" />
                        </li>
                        <li>
                            <img src="images/slide2.png" alt="" />
                        </li>
                        <li>
                            <img src="images/slide3.png" alt="" />
                        </li>
                    </ul>
                </div>
            </section>
                    
        </div>
    </div>
</div>
<!-- END SLIDER -->
        
<!-- BEFORE CONTENT -->
<div id="outerbeforecontent">
    <div class="container">
        <section id="beforecontent" class="twelve columns">
            <article id="beforethecontent">
                <div class="three_fourth firstcols">
                    <h2>about us</h2>
                    <p>canvas is a design firm specialized in creating new markets throughout the north american region.</p>
                    <p>our belief is <em>simple</em>. each product we make does one job extremely well. with that focus, the product becomes not just useful in its functionality, but also mesmerizing in its simplicity. our first design is a chair and we hope its a joy for you to use.</p> 
                </div>
                <div class="one_fourth lastcols">
                  
                </div>
                <div class="clear"></div>
            </article>
            <br>
            <br>

            <div id="signing">
              <p>feel free to contact us by submitting your email.<p>
              <form action="/signup" method="post" id="newsletter">
                <div><input type="text" onclick="this.select()" id="email_address" name="email_address" value="your@email.com" /><input type="submit" value="submit" /></div>
              </form>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>
<br>

<!-- END BEFORE CONTENT -->
        

<!-- END MAIN CONTENT -->



{% endblock %}