{% extends "base.html" %}

{% block content %}

<!-- SLIDER -->
<div id="outerslider">
    <div class="container">
        <div id="slidercontainer" class="twelve columns">
    
            <section id="slider">
            <div id="slideritems" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/slide1.png" alt="" />
                        </li>
                        <li>
                            <img src="images/slide2.png" alt="" />
                        </li>
                        <li>
                            <img src="images/slide3.png" alt="" />
                        </li>
                    </ul>
                </div>
            </section>
                    
        </div>
    </div>
</div>
<!-- END SLIDER -->
        
<!-- BEFORE CONTENT -->
<div id="outerbeforecontent">
    <div class="container">
        <section id="beforecontent" class="twelve columns">
            <article id="beforethecontent">
                <div class="three_fourth firstcols">
                    <h2>about us</h2>
                    <p>canvas is a product design firm specializing in creating new markets through design in the north american region.</p>
                    <p>our beliefs are <em>simple</em>. each item we make is designed to do only one job extremely well. with this tradeoff in functionality, we believe the end product is not just very useful but also mesmerizing. our first product is a chair.
                    </p> 
                </div>
                <div class="one_fourth lastcols">
                  
                </div>
                <div class="clear"></div>
            </article>
            <br>
            <br>

            <div id="signing">
              <p>Feel free to contact us by submitting your email<p>
              <form action="/signup" method="post" id="newsletter">
                <div><input type="text" name="email_address" value="your@email.com" /><input type="submit" value="Submit" /></div>
              </form>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>
<br>

<!-- END BEFORE CONTENT -->
        

<!-- END MAIN CONTENT -->



{% endblock %}