{% extends "base.html" %}

{% block content %}

<!-- SLIDER -->
<div id="outerslider">
    <div class="container">
        <div id="slidercontainer" class="twelve columns">
    
            <section id="slider">
            <div id="slideritems" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/mlk.png" alt="" />
                        </li>
                        <li>
                            <img src="images/persuade.png" alt="" />
                        </li>
                        <li>
                            <img src="images/confidence.png" alt="" />
                        </li>
                    </ul>
                </div>
            </section>
                    
        </div>
    </div>
</div>
<!-- END SLIDER -->
        
<!-- BEFORE CONTENT -->
<div id="outerbeforecontent">
    <div class="container">
        <section id="beforecontent" class="twelve columns">
            <article id="beforethecontent">
                <div class="three_fourth firstcols">
                    <h2>"If you want to conquer fear...</h2>
                    <p>...don’t sit at home and think about it. Go out there and get busy.” Andrew Carnegie’s words are words we live by. Check out our online resources to help you become an effective public speaker.</p>
                </div>
                <div class="one_fourth lastcols">
                    <a href="/events" class="button-buy"><span class="arrow">Continue</span></a>
                </div>
                <div class="clear"></div>
            </article>
            <div class="clear"></div>
        </section>
    </div>
</div>
<!-- END BEFORE CONTENT -->
        
<!-- MAIN CONTENT -->
<div id="outermain">
    <div class="container">
        <section id="maincontent" class="twelve columns">
                    
                    
                <div class="one_fourth firstcols">
                    <h4 class="colortext">Why Speech</h4>
                    <p>Public speaking is the number one fear in America. Conquering this fear will allow you to master your interviews, give perfect presentations, and deliver captivating speeches. CMU Speech and Debate is your gateway to turn America's greatest fear into your greatest asset.</p>
                </div>
                <div class="one_fourth">
                    <h4 class="colortext">Fun Workshops</h4>
                    <p>Our interactive workshops are both fun and valuable learning experiences. Our workshops provide you with access to personalized coaching, feedback from our team, and multiple chances to practice speaking at every meeting.</p>
                </div>
                <div class="one_fourth">
                    <h4 class="colortext">Exciting Competitions</h4>
                    <p>Speech and Debate competitions are intense and exciting. Competitors have to be skilled orators that can deliver beautiful rhetoric while also thinking quickly on their feet. Our workshops and coaching sessions will prepare CMU students to excel at both. </p>
                </div>
                <div class="one_fourth lastcols">
                    <h4 class="colortext">Personalized Coaching</h4>
                    <p>This is for those of us that don’t want to compete and don’t have time for weekly workshops. Our personalized coaching sessions provide CMU students with an opportunity to receive feedback on their class presentations, case competitions, and more.</p>
                </div>
                        
                <div class="separator line"><div></div></div>
                        
                <div class="clear"></div>
                <!-- OUR BOARD -->
                <article id="recent-portfolio">
                        <h2 class="title-section"><span>Our Board</span></h2>                  
                        <ul id="ts-display-pf-col-4">
                            <li class="three columns">
                                <div class="ts-display-pf-img">
                                    <a class="image" href="images/adilbio.JPG" data-rel="prettyPhoto[mixed]" >
                                    <span class="rollover"></span>
                                    <img src="images/adilbio.JPG" alt="" class="scale-with-grid "/></a>
                                </div>
                                <div class="ts-display-pf-text">
                                    <h2>Adil Majid</h2>
                                    <p>Four years of competitive speech and debate taught Adil the ability to effectively articulate his thoughts and gave him the confidence to convey these ideas to any audience.</p>
                                    <br><br>
                                </div>
                                <div class="ts-display-clear"></div>
                        
                            </li>
                            <li class="three columns">
                                <div class="ts-display-pf-img">
                                    <a class="image" href="images/johnnybio2.JPG" data-rel="prettyPhoto[mixed]" >
                                    <span class="rollover"></span>
                                    <img src="images/johnnybio2.JPG" alt="" class="scale-with-grid " /></a>   
                                </div>
                                <div class="ts-display-pf-text">
                                    <h2><a href="#">Johnny Bae</a></h2>
                                    <p>Even the best ideas are worthless if they are communicated ineffectively. Johnny believes this strongly and feels everyone should be proficient in being their own best advocate and continually reinforced this through three years of competitive national debate. </p>
                                </div>
                                <div class="ts-display-clear"></div>
                            </li>
                            <li class="three columns">
                                <div class="ts-display-pf-img">
                                    <a class="image" href="images/vivekbio.png" data-rel="prettyPhoto[mixed]" >
                                    <span class="rollover"></span>
                                    <img src="images/vivekbio.png" alt="" class="scale-with-grid " /></a>   
                                </div>
                                <div class="ts-display-pf-text">
                                    <h2><a href="#">Vivek Sainanee</a></h2>
                                    <p>Speech reflects who we are as people.  Vivek has a passion to bring out confidence and professionalism in people, and contributes presentation skills from meetings at Boeing, Deloitte, Microsoft, and Socratic.</p>
                                    <br>
                                </div>
                                <div class="ts-display-clear"></div>
                            </li>
                            <li class="three columns nomargin">
                                <div class="ts-display-pf-img">
                                   <a class="image" href="images/sankbio2.JPG" data-rel="prettyPhoto[mixed]" >
                                   <span class="rollover"></span>
                                   <img src="images/sankbio2.JPG" alt="" class="scale-with-grid"/></a>
                                </div>
                                <div class="ts-display-pf-text">
                                    <h2><a href="#">Sankalp Kulshreshtha</a></h2>
                                    <p>The skills that Sankalp learned in impromptu FBLA speech competitions have helped him speak clearly and confidently. He wishes to bring these skills to Speech and Debate at CMU.</p>
                                    <br><br>
                                </div>
                                <div class="ts-display-clear"></div>
                        
                            </li>
                        </ul>
                    </article>
                <!-- END OUR BOARD -->
            <div class="clear"></div><!-- clear float --> 
        </section>
    </div>
</div>
<!-- END MAIN CONTENT -->



{% endblock %}